What is America's Mood? Use Spotify API to display Spotify's Top 10 song streams in a visualization and determine mood based on applying a "Happy" or "Sad" Value to each song. 

In this notebook we are working to clean data from the CSV created by the API.

In [24]:
# Import Dependencies 
import numpy as np
import pandas as pd
import os
import requests
import json
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import spotipy.util as util

In [25]:
# Read in CSV
data = pd.read_csv("Top 200 May 20.csv")
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.,Unnamed: 4
0,Position,Track Name,Artist,Streams,URL
1,1,Blinding Lights,The Weeknd,5444886,https://open.spotify.com/track/0VjIjW4GlUZAMYd...
2,2,ROCKSTAR (feat. Roddy Ricch),DaBaby,5154907,https://open.spotify.com/track/7ytR5pFWmSjzHJI...
3,3,Roses - Imanbek Remix,SAINt JHN,4689335,https://open.spotify.com/track/24Yi9hE78yPEbZ4...
4,4,Toosie Slide,Drake,4033011,https://open.spotify.com/track/466cKvZn1j45Ipx...

In [26]:
# Data Clean
clean1 = data.drop(["Unnamed: 4" ], axis = 1)
clean1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.
0,Position,Track Name,Artist,Streams
1,1,Blinding Lights,The Weeknd,5444886
2,2,ROCKSTAR (feat. Roddy Ricch),DaBaby,5154907
3,3,Roses - Imanbek Remix,SAINt JHN,4689335
4,4,Toosie Slide,Drake,4033011

In [27]:
# Fix Column Headers and Display the Top 5 songs
clean2 = clean1.rename(columns={'Unnamed: 0': 'Position', 'Unnamed: 1': 'Track Name', 'Unnamed: 2': 'Artist', 'Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.': 'Streams'})
clean2.head()

   Position                    Track Name      Artist  Streams
0  Position                    Track Name      Artist  Streams
1         1               Blinding Lights  The Weeknd  5444886
2         2  ROCKSTAR (feat. Roddy Ricch)      DaBaby  5154907
3         3         Roses - Imanbek Remix   SAINt JHN  4689335
4         4                  Toosie Slide       Drake  4033011

In [29]:
# Drop the 1st row which is redundant and Display the Top 10 Songs 
clean3 = clean2.drop([0])
clean3.head(10)

,Position,Track Name,Artist,Streams
1,1,Blinding Lights,The Weeknd,5444886
2,2,ROCKSTAR (feat. Roddy Ricch),DaBaby,5154907
3,3,Roses - Imanbek Remix,SAINt JHN,4689335
4,4,Toosie Slide,Drake,4033011
5,5,death bed (coffee for your head) (feat. beabad...,Powfu,3970355
6,6,THE SCOTTS,THE SCOTTS,3680439
7,7,Stuck with U (with Justin Bieber),Ariana Grande,3546024
8,8,GOOBA,6ix9ine,3469664
9,9,Don't Start Now,Dua Lipa,3394419
10,10,Blueberry Faygo,Lil Mosey,3093693